.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-2 {
        width: 100%; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem)/3); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem)/4); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 40%; } }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem)/3) + 2rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem)/4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem)/4) + 2 * 2rem); }

.frontpage {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/bg.jpg");
  height: 80vh;
  background-size: cover;
  background-position: right;
  position: relative; }

.navigation {
  background: rgba(153, 153, 153, 0.2);
  height: 5.2rem;
  color: white; }

.description {
  margin: 2rem 0rem; }

.special {
  margin: 10rem 0rem; }

.menu {
  height: 50vh;
  background-color: #f0eeee; }

* {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 100; }

::-webkit-scrollbar {
  width: 6px; }

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #333;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FCB941;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; }

@font-face {
  font-family: "brand";
  src: URL("../fonts/brand.ttf") format("ttf"); }

.navigationbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navigationbar__icon {
    background: #FCB941;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem; }
    .navigationbar__icon--sprite {
      height: 3rem;
      width: 3rem;
      fill: #f0eeee; }
      .navigationbar__icon--sprite:hover {
        cursor: pointer; }
  .navigationbar__menu {
    list-style: none; }
    .navigationbar__menu--list {
      display: inline-block;
      padding: 1.8rem .5rem;
      text-transform: uppercase; }
      .navigationbar__menu--list .socail__media--icon {
        height: 1.4rem;
        width: 1.4rem;
        fill: #FCB941;
        cursor: pointer;
        font-weight: 600;
        transition: all .4s ease-in-out; }
        .navigationbar__menu--list .socail__media--icon:hover {
          fill: #fff; }

.frontinfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .frontinfo__header {
    text-align: center; }
    .frontinfo__header--primary {
      font-size: 3rem;
      color: #f0eeee;
      font-family: "Raleway";
      font-weight: 100;
      letter-spacing: 3px;
      text-transform: uppercase; }
    .frontinfo__header--secondary {
      color: #FCB941;
      font-size: 8rem;
      text-transform: uppercase;
      margin-top: 1rem;
      letter-spacing: 5px;
      font-family: "Yatra One"; }
    .frontinfo__header--text {
      color: #fff;
      font-size: 1.8rem;
      line-height: 2.5rem;
      letter-spacing: .1rem;
      font-family: "Raleway";
      margin-bottom: 2rem; }
    .frontinfo__header--btn {
      outline: none;
      padding: 1.5rem 2.5rem;
      background-color: #FCB941;
      border-radius: 10rem;
      color: #fff;
      font-size: 1.6rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      font-family: "Yatra One";
      cursor: pointer; }

.description::after {
  content: "";
  clear: both;
  display: table; }

.description__text {
  color: #777;
  margin-top: 2rem; }
  .description__text--header .title {
    font-size: 3.5rem;
    margin: 2rem;
    margin-left: 0rem; }
    .description__text--header .title-main {
      color: #FCB941;
      font-size: 4rem;
      font-family: "Yatra+One"; }
  .description__text .text {
    font-size: 1.4rem;
    word-spacing: .75rem;
    font-family: "Varela";
    margin-bottom: 2rem;
    text-align: justify; }

.description__image {
  text-align: right;
  width: 45rem; }

.special::after {
  content: "";
  clear: both;
  display: table; }

.special__header {
  text-align: center; }
  .special__header--primary {
    color: #FCB941;
    font-size: 2.5rem;
    font-family: "Raleway";
    letter-spacing: .1rem; }
  .special__header--secondary {
    font-size: 4.5rem;
    letter-spacing: .3rem;
    font-weight: 600;
    font-family: "Varela";
    color: #777;
    text-transform: uppercase; }

.special__design {
  display: flex;
  justify-content: center;
  margin-top: -8rem; }
  .special__design--border {
    height: .1rem;
    width: 20%;
    background: #999;
    margin-top: 2rem; }
  .special__design--icon .special__icon {
    fill: #FCB941;
    width: 3.5rem;
    height: 3.5rem;
    margin: 0rem 1.5rem; }

.special__food .special__item {
  position: relative;
  height: 28rem; }
  .special__food .special__item .food__item--overlay {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: none;
    cursor: pointer;
    transition: all .4s ease-in-out; }
    .special__food .special__item .food__item--overlay-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      color: #FCB941;
      text-align: center;
      font-family: "Raleway"; }
  .special__food .special__item:hover .food__item--overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.6); }
  .special__food .special__item--img {
    width: 100%;
    height: 28rem;
    transition: all .4s ease; }

.menu__header {
  font-size: 4.5rem;
  letter-spacing: .3rem;
  font-weight: 600;
  font-family: "Varela";
  color: #777;
  text-transform: uppercase;
  text-align: center; }
