.frontpage{
    background-image:linear-gradient(to right, rgba(0,0,0,.8),rgba(0,0,0,.4)), url("../img/bg.jpg");
    height: 80vh;
    background-size: cover;
    background-position:right;
    position: relative;
}
.navigation{
    background: rgba($grey-dark-3,.2);
    height: 5.2rem;
    color:white;
}
.description{
    margin: 2rem 0rem;
}
.special{
    margin: 10rem 0rem;
}
.menu{
  // background-image: linear-gradient(to right,rgba(0,0,0,.8), rgba(0,0,0,.7)),url("../img/cafe2.jpg");
    height: 50vh;
    background-color: $grey-light-3;
    
}