.frontpage{
    background-image:linear-gradient(to right, rgba(0,0,0,.8),rgba(0,0,0,.4)), url("../img/bg.jpg");
    height: 80vh;
    background-size: cover;
    background-position:right;
    position: relative;
}
.navigation{
    background: rgba($grey-dark-3,.2);
    height: 5.2rem;
    color:white;
}
.description{
    margin-top: 2rem;    
    
}
.special{
    margin: 2rem 0rem;  
    //background-color:#546e7a;    
    padding-top: 3rem;
    padding-bottom: 8rem; 
    
}
.found{
    background-image: linear-gradient(to right,rgba(0,0,0,.8), rgba(0,0,0,.7)),url("../img/cafe2.jpg");    
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    padding-top: 10rem;
    background-attachment: fixed;    
}
.food{
    min-height: 50vh;
    //background-color:$grey-dark-3;
}
.serve{
    background-image:linear-gradient(to right,rgba(0,0,0,.8), rgba(0,0,0,.7)), url("../img/serve.jpg");
    background-size: cover;
    background-position: bottom;
    height:50vh;
    //transform: rotate(90deg);    
    @include clearfix;   
}
.gallery{
    margin-top: 8rem;
}
.model__box{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color:rgba(0,0,0,.9);
    top: 0;
    left:0;
}