.found{
     height: 50vh;
    &__header{
        font-size: 4.5rem;
        letter-spacing: .3rem;
        font-weight: 600;
        font-family: "Varela";
        color:$grey-dark-2;
        text-transform: uppercase;
        text-align: center;
        color: $page-primary-color;        
        font-family: "Raleway";

        @include Responsive(tab-land){
            font-size: 4rem;
        }

        @include Responsive(tab-port){
            font-size: 4rem;
        }
        
        @include Responsive(phone){
            font-size: 3rem;
        }  

        &-year{            
            text-align: center;
            background-color:rgba($page-primary-color,.4);
            width: 15rem;  
            height: 15rem;
            border-radius: 10rem; 
            display: inline-block;
            padding-top: 4.5rem;
            color: white;

             
            @include Responsive(tab-port){
                font-size: 4rem;                
                padding-top: 4.5rem;
            }
            
            @include Responsive(phone){
                font-size: 3rem;
                width: 10rem;  
                height: 10rem; 
                padding-top: 3rem;
            }  

        }
    }
    &__content{
        font-size: 2rem;
        color: $grey-light-1;
        text-align: center;
        word-spacing: .5rem;
        margin-top: 0rem;
        letter-spacing: 1px;
        

        @include Responsive(tab-port){
            font-size: 1.6rem;
            padding: 0rem 1rem;
        }
        
        @include Responsive(phone){
            font-size: 1.8rem;
        }  

        &--icon{
            fill:  $grey-light-1;
            height: 3.5rem;
            width: 3.5rem;

            @include Responsive(tab-port){
                height: 3rem;
                width: 3rem;
            }
            
            @include Responsive(phone){
                height: 2.5rem;
                width: 2.5rem;
            }  

            }
    }
}