.gallery{
  
    &__content{  

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        overflow: hidden;
        &--item{
            flex: calc(100%/3);
            overflow: hidden;
           
            img{
                width: 100%;
                @include transition;
                cursor: pointer;
            }
            img:hover{
                transform: scale(1.1);
                opacity: .6;
            }
        }
    }
    
}