.menu{
    &__header{
        font-size: 4.5rem;
        letter-spacing: .3rem;
        font-weight: 600;
        font-family: "Varela";
        color:$grey-dark-2;
        text-transform: uppercase;
        text-align: center;

    }
}